/* Common styles for all auth views */

/* Background for the left Pane */
.auth-left-pane {
    -fx-background-image: url('/assets/images/coffee.jpg');
    -fx-background-size: cover;
}

/* Main background */
.auth-main-background {
    -fx-background-color: #fff;
}

/* Style for the "Login" button */
.login-button {
    -fx-background-color: #8B4513;
    -fx-text-fill: white;

    -fx-cursor: hand; /*make the cursor change to hand when hover*/
}

.login-button:hover {
    -fx-background-color: #A0522D; /* Slightly lighter brown on hover */
}

/* Style for the "Register" button */
.register-button {
    -fx-background-color: #000055;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand; /*make the cursor change to hand when hover*/
}

.register-button:hover {
    -fx-background-color: #202080; /* Slightly lighter blue on hover */
}

/* Style for the "Forgot Password" button */
.forgot-password-button {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 0 -15px -20px -15px;
    -fx-cursor: hand; /*make the cursor change to hand when hover*/
}
.forgot-password-button:hover{
    -fx-text-fill: #000055;
}
/* Style for the "The 90s Brew" label */
.app-name-label {
    -fx-font-size: 24;
}

/* Style for the TextFields */
.text-field {
    -fx-pref-height: 45.0;
    -fx-pref-width: 331.0;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
    -fx-background-color: white;
    -fx-cursor: text; /* change cursor to text input */
}

/* Style for the TextFields on Hover */
.text-field:hover {
    -fx-border-color: #0077BE;
}

/* Style for the Labels */
.label {
    -fx-font-size: 18.0;
    -fx-cursor: hand; /*make the cursor change to hand when hover*/
}
/* Specific LoginUI styles (if needed) */
/* You can add more specific styles for the LoginUI here */

/* Specific RegisterUI styles (if needed) */
/* You can add more specific styles for the RegisterUI here */

/* Specific ResetPassword styles (if needed) */
/* You can add more specific styles for the ResetPassword here */